.category-menu {
    margin-bottom: 5%;
}

.landing-page-xl {
    background-color: #fafafa;
}

.categories-list {
    width: 40%;
    margin: auto;
    box-shadow: 3px 3px 0 0 #d3d3d3;
}

.category-item-title,
.category-item:hover {
    color: #8367d8;
}

.category-item,
.category-item-title {
    text-align: left;
}

.big-item {
    margin: 0;
    padding: 0;
    border: 0;
}

.d-block {
    margin: 0;
    width: 100px;
}
