.product-list {
	margin-bottom: 5em;

	.tags-container {
		width: 70%;
		margin: auto;
		margin-top: 1em;
		display: flex;
		flex-direction: row;

		.filter-tag {
			margin-right: 1em;
		}
	}

	.product-container {
		clear: right;
		display: flex;
		justify-content: space-between;
		margin-left: 15%;
		margin-right: 15%;

		.col-sm-4 {
			padding: 0;

			.list-of-cats {
				padding-left: 1em;
				border: 2px solid #e3e3e3;
				text-align: left;
				margin-top: 15px;
				margin-bottom: 10px;

				svg {
					font-size: 18pt;
					position: absolute;
					right: 0;
					margin-right: 1em;
				}

				h6,
				p {
					margin-top: 20px;
				}

				p {
					font-weight: 500;
				}

				p:hover {
					color: #8367d8;
				}

				.subcategory {
					color: rgb(167, 165, 165);
					display: none;
				}
			}

			.price-card {
				border: 2px solid #e3e3e3;
				text-align: left;
				padding-bottom: 15px;
				margin-bottom: 5em;

				.range-container {
					width: 90%;
					margin: auto;
				}

				.price-card-title {
					margin-top: 15px;
					padding-left: 1em;
					color: #8367d8;
					font-weight: 500;
				}

				p {
					padding-left: 1em;
					color: gray;
					margin-bottom: 0;
				}
			}
		}

		.col-md-8 {
			display: flex;
			flex-direction: column;

			.grid-list-btn {
				margin-top: 0.5em;
				width: 94%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.sorting-menu {
					width: 200px;
					height: 40px;
					margin-top: 0.5em;
					font-weight: 500;
				}

				.sorting-menu:focus {
					outline-color: #8367d8;
				}

				button {
					border: 0;
					background-color: white;
					width: 100px;
					height: 50px;
				}

				button:focus,
				button:hover {
					background-color: #8367d8;
					color: white;
				}
			}

			.items-view {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;

				.did-you-mean-mssg {
					width: 70%;
					display: flex;
					flex-direction: row;
					font-size: 20px;
					margin-top: 1em;
				}
			}

			.single-card {
				width: 180px;
				height: 300px;
				margin-top: 1em;
				margin-bottom: 1em;
				margin-right: 0.5em;

				button {
					border: none;
					width: 100px;
					height: 30px;
					position: relative;
					bottom: 7em;
					visibility: hidden;

					svg {
						margin-left: 0.5em;
					}
				}

				.card-title {
					font-weight: bold;
				}

				.grid-item-img {
					width: 140px;
					height: 140px;
					margin: auto;
					margin-bottom: 1em;
					background-color: #f0f0f0;
				}
			}

			.single-card:hover {
				background: rgba(104, 65, 136, 0.3);

				button {
					visibility: visible;
				}

				.grid-item-img,
				.card-title,
				.card-text {
					visibility: hidden;
				}
			}
		}
	}

	.did-you-mean {
		width: 100%;
		margin: auto;
		margin-bottom: 1em;
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: 18px;
		color: gray;
	}
}
