.list-view {
	display: flex;
	flex-direction: column;
	width: 94%;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	text-align: left;

	.button-row {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		button {
			border: 2px solid #e3e3e3;
			background-color: white;
			width: 120px;
			height: 35px;
			margin-right: 1.2em;
			margin-bottom: 1em;

			svg {
				margin-left: 0.5em;
				color: #e3e3e3;
				font-size: 15pt;
			}
		}

		button:hover,
		button:active,
		button:focus {
			background-color: #8367d8;
			color: white;
		}
	}

	.card-body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.list-item-img {
			width: 250px;
			height: 250px;
			background-color: #f0f0f0;
		}
		div {
			width: 255px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.card-text {
				color: #8367d8;
				margin-bottom: 1em;
			}
			.card-desc {
				color: gray;
			}

			.card-title {
				font-weight: bold;
			}
		}
	}
}
