.forgot-pass {
	width: 50%;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 5em;
	border: 2px solid #e3e3e3;

	.forgot-pass-label {
		background-color: whitesmoke;
		text-transform: uppercase;
		font-weight: 600;
		padding: 0.5em 0 0.5em;
		font-size: 17pt;
	}

	.forgot-pass-content {
		width: 80%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		text-align: left;
		margin-top: 2em;
		margin-bottom: 2em;

		p {
			margin-bottom: 3em;
		}

		input,
		button {
			height: 45px;
			margin-bottom: 2em;
		}

		label,
		button {
			font-weight: 600;
		}

		input {
			background-color: whitesmoke;
			border: 2px solid #e3e3e3;
			padding-left: 0.5em;
		}

		button {
			background-color: white;
			border: 2px solid #8367d8;
			text-transform: uppercase;
			font-size: 13pt;
			box-shadow: 3px 3px 10px #c9c8c8;
		}

		button:hover,
		button:focus {
			background-color: #8367d8;
			color: white;
		}
	}
}
