.shop-page {
	.item-container {
		overflow-x: hidden;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 2em;
		margin-top: 2em;
		padding-right: 3em;

		img {
			margin-right: 1.7em;
			height: 550px;
			width: 550px;
			background-color: #f0f0f0;
		}

		.item-info {
			text-align: left;

			.bid-container {
				text-align: left;
				margin-top: 2.5em;
				input {
					border: 1px solid #b8b7b7;
					background-color: #e3e3e3;
					height: 50px;
					width: 150px;
					margin-right: 1em;
				}
			}

			p {
				font-size: 14px;
			}

			p,
			h6 {
				color: #b8b7b7;
			}

			h6:first-of-type {
				margin-top: 3em;
			}

			.details-heading {
				margin-top: 2em;
			}

			.thin-line {
				width: 100%;
				border-bottom: 3px solid #e3e3e3;
			}

			.item-desc {
				width: 300px;
				display: flex;
				flex-direction: column;
				color: black;
				text-align: left;
			}

			.wtch-list-btn {
				background-color: white;
				border: 3px solid #e3e3e3;
				height: 40px;
				width: 120px;
			}

			.wtch-list-btn:hover,
			.wtch-list-btn:focus {
				background-color: #8367d8;
				color: white;
			}
		}
	}

	.bidder-container {
		margin: auto;
		width: 950px;

		table {
			margin-top: 7em;
			text-align: left;
			border: 2px solid #ececec;

			th {
				background-color: #ececec;
				width: 150px;
			}

			td,
			th {
				padding-left: 2em;
			}
		}

		.pagination {
			margin-bottom: 5em;
		}
	}

	#highest-bid,
	#low-bid {
		padding-left: 14%;
	}

	#highest-bid {
		background-color: #e3f7cd;
		color: #447e36;
		display: none;
	}

	#low-bid {
		background-color: #f7e8c7;
		color: #ab944e;
		display: none;
	}

	.related-products {
		width: 950px;
		margin: auto;
		margin-top: 5em;
		margin-bottom: 5em;

		.title {
			font-size: 20pt;
			text-align: left;
			border-bottom: 2px solid #e3e3e3;
		}

		.grid-card {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 1em;

			.card-element {
				width: 30%;
				height: 400px;

				img {
					margin: 0.5em 0 0.5em;
					width: 290px;
					height: 290px;
					background-color: #e3e3e3;
				}

				.details {
					width: 100%;
					margin: auto;
					text-align: left;
				}
			}
		}
	}
}
